.statusBlock {
  width: 30%;
}


.status {
  width: 100%;
  min-height: 70px;
}
@media screen and (max-width: 1000px){
  .status {
    min-height: 20px;
    font-size: 14px;
  }
}
@media screen and (max-width: 850px){
  .status {
    font-size: 11px;
  }
}
@media screen and (max-width: 450px){
  .status {
    font-size: 9px;
  }
}

.status span {
  word-wrap: break-word;
  cursor: default;
}

.ownerStatus:hover {
  background-color: #f1f3ef;
  cursor: pointer;
}

.statusBlock input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #42a790;
  outline: none;
}
@media screen and (max-width: 1000px){
  .statusBlock input {
    min-height: 20px;
    font-size: 14px;
  }
}
@media screen and (max-width: 850px){
  .statusBlock input {
    font-size: 11px;
  }
}
@media screen and (max-width: 450px){
  .statusBlock input {
    font-size: 9px;
  }
}