.chatPage{
    background-color: white;
    min-height: 80vh;
    margin: 20px;
    width: 95%;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.messagesPart {
    background-color: #B4EDF8;
    height: 65vh;
    padding: 20px;
}

.message {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 500px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}


.message:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.userInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}


.userInfoContainer img{
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.userInfoContainer span{
    font-weight: bolder;
}

.messageText {
    margin-left: 50px;
}

.addChatMessageForm {
    border-top: 1px solid #c7d2cf;
    height: 110px;
    background-color: rgba(250, 250, 250, 1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.textField {
    padding: 10px;
    width: 98%;
    min-height: 50px;
    border: 1px solid #d4d6d3 ;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.addChatMessageForm button {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #42a790;
    border: 2px solid #42a790;
    border-radius: 0.6em;
    color: #fff;
    cursor: pointer;
    line-height: 1;
    padding: .4em 1.2em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}