.chatPage{
    width: 98%;
    height: 100%;
    margin: 0 auto;
}

.chatPageBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 10px;
}

.messagesPart {
    background-color: #549cc1;
    padding: 10px;
    height: 80%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.message {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 80%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}
@media screen and (max-width: 550px){
    .message {
        font-size: 10px;
    }
}


.message:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.userInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.userInfoContainer img{
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
@media screen and (max-width: 550px){
    .userInfoContainer img {
        width: 30px;
        margin-right: 5px;
    }
}

.userInfoContainer span{
    font-weight: bolder;
}

.messageText {
    margin-left: 50px;
}

.addChatMessageForm {
    border-top: 1px solid #c7d2cf;
    height: 20%;
    background-color: rgba(250, 250, 250, 1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.textField {
    padding: 10px;
    width: 96%;
    min-height: 50px;
    border: 1px solid #d4d6d3 ;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
@media screen and (max-width: 550px){
    .textField {
        width: 94%;
        min-height: 40px;
        font-size: 10px;
    }
}

.addChatMessageForm button {
    width: 100px;
    height: 35px;
    background-color: #42a790;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
    cursor: pointer;
}
@media screen and (max-width: 550px){
    .addChatMessageForm button {
        width: 70px;
        height: 30px;
        font-size: 10px;
    }
}

.addChatMessageForm button:hover {
    background-color: #3a816e;
}