.itemBlock {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: #272729;
    margin-bottom: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 94%;
    padding: 10px;
    border-top: 1px solid #42a790;
    border-bottom: 1px solid #42a790;
    margin-bottom: 15px;
}

.userInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.userInfoContainer span {
    font-weight: bolder;
    color: #272729;
}

.messageContainer {
    min-height: 20px;
    padding: 5px;
    border-left: 3px solid #549cc1;
    margin: 15px;
}

.likesContainer {
    background-color: #f6f4f4;
    padding: 7px;
    min-width: 50px;
    text-align: center;
    border-radius: 40%;
}

.likesContainer:hover {
    background-color: #e6edf6;
}

.likeIsActive {
    background-color: #f6dce0;
}

.likesContainer span{
    font-weight: bolder;
}