.paginator {
    height: 30px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.paginator button {
    width: 30px;
    height: 26px;
    background-color: #42a790;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
    cursor: pointer;
}
@media screen and (max-width: 450px) {
    .paginator button{
        font-size: 10px;
        width: 20px;
        height: 20px;
    }
}

.paginator button:hover {
    background-color: #3a816e;
}

.paginator span {
    margin-left: 2px;
    margin-right: 2px;
    min-width: 15px;
    text-align: center;
    border: 1px solid #42a790;
    border-radius: 4px;
    padding: .1em .3em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
@media screen and (max-width: 450px) {
    .paginator span{
        font-size: 14px;
        max-width: 20px;
        max-height: 20px;
        padding: 1px;
        vertical-align: center;

    }
}

.paginator span:hover {
    width: 20px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.selectedPage {
    background-color: #42a790;
    color: white;
    font-weight: bold;
    font-size: large;
    margin: 5px;
}