.formControl.error input,
.formControl.error textarea {
    border: 1px solid #f96560;
}

.formControl.error span {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: red;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: darkred;
}