.editInfo {
    background-color: rgba(250, 250, 250, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 40px auto;
    padding: 10px 0;
    border: 1px solid #c8c2c5;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.editInfo b {
    margin-bottom: 5px;
}
@media screen and (max-width: 450px){
    .editInfo b{
        font-size: 13px;
    }
}

.editInfo input {
    width: 250px;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid #cbc5c8;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    color: #65636a;
    outline: none;
}
@media screen and (max-width: 450px){
    .editInfo input{
        width: 200px;
        height: 25px;
        font-size: 11px;
        margin-bottom: 10px;
    }
}
.editInfo textarea{
    width: 240px;
    height: 30px;
    border: 1px solid #cbc5c8;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    color: #65636a;
    resize: none;
    margin-bottom: 20px;
}
@media screen and (max-width: 450px){
    .editInfo textarea{
        width: 190px;
        height: 25px;
        font-size: 11px;
        margin-bottom: 10px;
    }
}

.editInfo h3 {
    font-size: x-large;
    text-align: center;
}
@media screen and (max-width: 450px){
    .editInfo h3 {
        font-size: 17px;
    }
}

.contactName{
  margin-bottom: 20px;
}


.editInfo button {
    width: 100px;
    height: 35px;
    background-color: #42a790;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
}
@media screen and (max-width: 1000px){
    .editInfo button {
        width: 70px;
        height: 30px;
        font-size: 10px;
    }
}

.editInfo button:hover {
    background-color: #3a816e;
}