.header {
    grid-area: h;
    background-color: white;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.headerContainer {
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 60px;
    margin-top: 5px;
}
@media screen and (max-width: 850px){
    .header img {
        width: 40px;
    }
}

.logoutBlock {
    width: 330px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 850px){
    .logoutBlock {
        width: 290px;
        margin-top: 11px;
    }
}

.logoutBlock span {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: large;
}
@media screen and (max-width: 850px){
    .logoutBlock span {
        font-size: 16px;
    }
}

.logoutBlock button {
    width: 100px;
    height: 35px;
    background-color: #42a790;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
    cursor: pointer;
}
@media screen and (max-width: 850px){
    .logoutBlock button {
        font-size: 13px;
        height: 25px;
        width: 80px;
    }
}

.logoutBlock button:hover {
    background-color: #3a816e;
}

.login {
    margin-top: 15px;
    float: right;
    margin-right: 3%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    text-decoration: none;
    background-color: #42a790;
    width: 70px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
}
