.navPage {
    grid-area: n;
    background-color: white;
    padding: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    min-height: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
@media screen and (max-width: 850px){
    .navPage {
        background-color: rgba(250, 250, 250, 1);
        font-size: 20px;
        padding: 15px;
    }
}

.navContainer {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 850px){
    .navContainer {
        margin: 0 auto;
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.item a {
    color: #79787b;
    text-decoration: none;
}

.item a:hover {
    color: #272729;
    font-weight: bolder;
}

.item a.activeLink {
    color: #42a790;
    font-size: xx-large;
    font-weight: bolder;
    margin: 5px;
}
@media screen and (max-width: 850px){
    .item a.activeLink {
        margin: 0;
        font-size: 20px;
    }
}

.withoutAuth{
    background-color: rgba(250, 250, 250, 1);
}