.nav {
    grid-area: n;
    background-color: #254E58;
    padding: 20px;
    font-size: xx-large;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}