.nav {
    grid-area: n;
    background-color: #f8f7fa;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}

.item a {
    color: #79787b;
    text-decoration: none;
}

.item a:hover {
    color: #272729;
}

.item a.activeLink {
    color: #42a790;
    font-size: xx-large;
    margin: 5px;
}