.profileInfoBlock {
    width: 100%;
    background-color: white;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.imagesBlock {
    width: 100%;
    position: relative;
}


.backgroundImg {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.avatar {
    position: absolute;
    right: 35%;
    top: 100px;
}

.avatar img {
    border: 5px solid white;
    width: 200px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.avatarEdit {
    position: absolute;
    right: 15%;
    z-index: 1;
    top: 165px;
}

.avatarEdit input {
    display: none;
}

.avatarEdit label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

.avatarEdit label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatarEdit label:after {
    content: "✎";
    font-size: 20px;
    color: #757575;
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.profileInfo {
    position: relative;
    width: 95%;
    margin-left: 20px;
}

.statusBlock {
    width: 35%;
}

.status {
    width: 200px;
    min-height: 70px;
    margin-top: 20px;
    margin-left: 20px;
}

.status span {
    word-wrap: break-word;
    cursor: default;
}

.ownerStatus:hover {
    background-color: #f1f3ef;
    cursor: pointer;
}

.lookingJob {
    position: absolute;
    right: 10px;
    color: #42a790;
}

.statusBlock input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #42a790;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.editButton {
    position: absolute;
    right: 20px;
    top: 10px;
    height: 34px;
    width: 34px;
    font-size: 20px;
    color: #757575;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

.editButton:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.editButton:after {
    font-size: 20px;
    color: #757575;
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.majorInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.fullName {
    font-size: xx-large;
    margin-bottom: 10px;
    font-weight: bolder;
}

.skills {
    margin-bottom: 10px;
}

.showContactsButton {
    width: 100%;
    height: 35px;
    background-color: #42a790;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
    margin-bottom: 20px;
    cursor: pointer;
}

.showContactsButton:hover {
    background-color: #3a816e;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactLinks {
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
    color: #42a790;
}

.editInfo {
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}




