.loginPage {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(250, 250, 250, 1);
}

.loginBlock {
    width: 25%;
    height: 400px;
    position: absolute;
    top: 25%;
    right: 37%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #cbc5c8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginBlock h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.loginBlock input{
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid #cbc5c8;
    border-radius: 3px;
}

.checkbox{
    width: 250px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.checkbox input{
    width: 20px;
    margin: 0;
}

.loginBlock button{
    width: 100px;
    height: 35px;
    background-color: #42a790;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
}

.loginBlock button:hover {
    background-color: #3a816e;
}
