@import "src/components/Common/Styles/Sass/Mixins";
@import "src/components/Common/Styles/Sass/Variables";

.loginPage {
  width: 100%;
  min-height: 70vh;


  .loginBlock {
    margin: 4% auto;
    @include size(400px, 400px);
    background-color: white;
    border-radius: 10px;
    border: 1px solid #cbc5c8;
    @include flex(column, center, center);
    @include boxShadow();
    @media screen and (max-width: 850px) {
      @include size(300px, 300px);
      margin: 6% auto;
    }


    & h1 {
      font-size: 40px;
      @media screen and (max-width: 850px) {
        font-size: 30px;
      }
    }

    & input {
      @include size(250px, 30px);
      margin-bottom: 10px;
      border: 1px solid #cbc5c8;
      border-radius: 3px;
      padding-left: 10px;
      @media screen and (max-width: 850px) {
        width: 200px;
        height: 25px;
        font-size: 12px;
      }
    }

    .checkbox {
      width: 250px;
      margin-bottom: 20px;
      font-weight: bolder;
      @media screen and (max-width: 850px) {
        width: 213px;
        font-size: 12px;
      }
      & input {
        width: 15px;
        margin: 0;
      }
    }

    & button {
      @include button(100px, 35px);
      @media screen and (max-width: 850px) {
        width: 70px;
        height: 30px;
        font-size: 12px;
      }
    }

    & button:hover {
      background-color: #3a816e;
    }
  }
}
