.dialogsPage {
    width: 98%;
    height: 100%;
    margin: 0 auto;
}

.dialogsPageBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.dialogs {
    background-color: #549cc1;
    display: flex;
    flex-direction: row;
    height: 85%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}


.dialog {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border: 1px solid #42a790;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #42a790;
}

@media screen and (max-width: 850px) {
    .dialog {
        flex-direction: column;
        width: 52px;
    }
}

/*@media screen and (max-width: 365px) {
    .dialog {
        flex-direction: column;
        width: 52px;
    }
}*/


.dialog:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.dialog span {
    margin-left: 20px;
}

/*@media screen and (max-width: 660px) {
    .dialog span {
        margin-left: 10px;
        font-size: 12px;
    }
}*/
@media screen and (max-width: 850px) {
    .dialog span {
        margin-left: 0;
    }
}

.dialog a:hover {
    color: #65636a
}


.activeDialog {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    background-color: rgba(11, 163, 138, 1);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/*@media screen and (max-width: 660px) {
    .activeDialog {
        padding: 5px;
        width: 120px;
    }
}*/
@media screen and (max-width: 850px) {
    .activeDialog {
        flex-direction: column;
        width: 52px;
    }
}

.activeDialog span {
    margin-left: 20px;
}

/*@media screen and (max-width: 660px) {
    .activeDialog span {
        margin-left: 10px;
        font-size: 12px;
    }
}*/
@media screen and (max-width: 850px) {
    .activeDialog span {
        margin-left: 0;
    }
}

.dialogImg {
    width: 70px;
    height: 45px;
    border-radius: 50%;
}

@media screen and (max-width: 850px) {
    .dialogImg {
        width: 50px;
        height: 35px;
    }
}

.dialogsItems {
    background-color: rgba(250, 250, 250, 1);
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-top-left-radius: 10px;
}

/*@media screen and (max-width: 660px) {
    .dialogsItems {
        width: 173px;
    }
}*/
@media screen and (max-width: 850px) {
    .dialogsItems {
        width: 91px;
        padding-bottom: 0;
    }
}

.messagesField {
    background-image: url("https://fullhdoboi.ru/wp-content/uploads/_ph/22/41664680.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
}

.fieldWithoutMessages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.fieldWithoutMessages span {
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .2);
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
}

@media screen and (max-width: 1100px) {
    .fieldWithoutMessages span {
        font-size: 10px;
        padding: 5px;
    }
}

/*@media screen and (max-width: 850px) {
    .fieldWithoutMessages span {
        font-size: 10px;
        padding: 5px;
    }
}*/

.message {
    float: left;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

@media screen and (max-width: 850px) {
    .message {
        font-size: 10px;
        padding: 5px 7px 5px 7px;
    }
}

.message:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.isAuthMessages {
    float: right;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

@media screen and (max-width: 850px) {
    .isAuthMessages {
        font-size: 10px;
        padding: 5px 7px 5px 7px;
    }
}

.addMessageFormBlock {
    border-top: 1px solid #c7d2cf;
    /*min-height: 90px;*/
    height: 15%;
    background-color: rgba(250, 250, 250, 1);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

@media screen and (max-width: 660px) {
    .addMessageFormBlock {
        min-height: 50px;
    }
}

.addMessageFormContainer {
    width: 833px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 1107px) {
    .addMessageFormContainer {
        width: 627px;
    }
}

@media screen and (max-width: 897px) {
    .addMessageFormContainer {
        width: 100%;
        justify-content: flex-end;
    }
}

/*
@media screen and (max-width: 660px){
.addMessageFormContainer{
    width: 484px;
}
}
@media screen and (max-width: 510px){
.addMessageFormContainer{
    width: 336px;
}
}
@media screen and (max-width: 365px){
.addMessageFormContainer{
    width: 337px;
}
}
*/

.addMessageForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.textField {
    padding: 10px;
    width: 700px;
    min-height: 50px;
    border: 1px solid #d4d6d3;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    outline: none;
    border-radius: 5px;
}

@media screen and (max-width: 1107px) {
    .textField {
        width: 496px;
    }
}

@media screen and (max-width: 897px) {
    .textField {
        width: 300px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 660px) {
    .textField {
        width: 200px;
        font-size: 10px;
        min-height: 30px;
    }
}

/*@media screen and (max-width: 510px){
    .textField{
        width: 244px;
    }
}
@media screen and (max-width: 365px){
    .textField{
        width: 241px;
        min-height: 24px;
    }
}*/

.errorField {
    padding: 10px;
    width: 700px;
    min-height: 50px;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #f96560;
}

@media screen and (max-width: 1107px) {
    .errorField {
        width: 496px;
    }
}

@media screen and (max-width: 897px) {
    .errorField {
        width: 300px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 660px) {
    .errorField {
        width: 200px;
        font-size: 10px;
        min-height: 30px;
    }
}

.errorSpan {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: red;
}

@media screen and (max-width: 1107px) {
    .errorSpan {
        font-size: 10px;
    }
}

.addMessageFormContainer button {
    width: 100px;
    height: 35px;
    background-color: #42a790;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
    cursor: pointer;
}

@media screen and (max-width: 660px) {
    .addMessageFormContainer button {
        width: 65px;
        height: 30px;
        font-size: 10px;
    }
}

.addMessageFormContainer button:hover {
    background-color: #3a816e;
}
