.postsBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.postsBlock h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 0;
}

.hr {
    display: block;
    height: 1px;
    margin: 1.7rem 0;
    color: #42a790;
    background-color: currentColor;
    border: 0;
    opacity: .25;

}

.addPostFormBlock {
    height: 110px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.fieldContainer {
    width: 100%;
}

.textField {
    padding: 10px;
    width: 94%;
    min-height: 50px;
    border: 1px solid #d4d6d3 ;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    outline: none;
    border-radius: 5px;
}


.addPostFormBlock button {
    margin-top: 10px;
    margin-right: 20px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #42a790;
    border: 2px solid #42a790;
    border-radius: 0.6em;
    color: #fff;
    cursor: pointer;
    line-height: 1;
    padding: .4em 1.2em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

}

.posts {
    margin-top: 20px;
    margin-left: 20px;
}